body{
    background-color: rgba(36, 33, 33, 0.281);
}
.clock{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #000000;
    font-size: 80px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 7px;
}